<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text-class {
            color: blue;
        }
        #h6-text-class {
            font-size: 12px;
            color: green;
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text-id">H1 Header text</h1>
    <h2 class="h2-text-class">H2 Header text</h2>
    <h6 class="h2-text-class">H6 Header text</h6>
    <h6 id="h6-text-class">Doubled H6 Header text</h6>
    <p>Paragraph text Auto-wait. <span style="color: red">Playwright</span> waits for elements to be actionable prior to performing actions. It also has a rich set of introspection events.
    </p>
    <a href="https://playwright.dev/" target="_blank">Python</a>
    <img src="https://playwright.dev/img/logos/accessibilityinsights.png" style="100px; height: 100px;" alt="Playwright Logo">
    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
    </ul>
    <ol>
        <li>Ordered item 1</li>
        <li>Ordered item 2</li>
    </ol>
    <form action="/action" method="POST">
    <label>
        <input type="text" value="12345" placeholder="Placeholder text">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea required placeholder="Textarea placeholder">Placeholder</textarea>
        <button type="submit" disabled>ButtonTextLabel</button>
    </label>
    </form>
    <table>
        <thead>
            <tr>
                <th>Header 1</th>
                <td>Header 2</td>
                <th>Header 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Col 1</td>
                <td>Row 1 Col 2</td>
                <td>Row 1 Col 3</td>
            </tr>
            <tr>
                <td>Row 2 Col 1</td>
                <td>Row 2 Col 2</td>
                <td>Row 2 Col 3</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>